
	#mobile{
		display: none;
	}
	.login-links-forget-psw{
		margin-right: 65%;
	}
	.desktop-tab-login-form{
		margin-top: 23px;
	}
	.desktop-tab-login-form{
			margin:-50px -100px 0 0;
		}
		.login-links-forget-psw{
			margin-right: 52%;
	}
		/** Feed */
	.nav{
		margin-left: -40px;
	}
	.nav-li{
		list-style: none;
		display: inline-block;
	}
	.nav-a{
		font-size: 16px;
		font-weight: 300;
		padding-left: 10px;
		padding-right: 10px;
	}
	.top-upload-mat-btn-box{
		box-sizing: border-box;
		background-color: rgba(0, 0, 150, 150);
		border-radius: 50%;
	}
	.top-upload-mat-btn{
		color: #fff;
		padding: 10px;
		font-size: 14px;
	}
	.top-upload-mat-btn:hover{
		color: #fff;
	}
		



@media only screen and (min-width: 993px){
	.desktop-tab-login-form{
		margin:5px 0 0 0;
	}
	.login-links-forget-psw{
		margin-right: 65%;
	}
	#mobile{
		display: none;
	}
	.login-links-forget-psw{
		margin-right: 65%;
	}
	.desktop-tab-login-form{
		margin-top: 23px;
	}
	.desktop-tab-login-form{
			margin:-50px -100px 0 0;
		}
		.login-links-forget-psw{
			margin-right: 52%;
	}
		/** Feed */
	.nav{
		margin-left: -40px;
	}
	.nav-li{
		list-style: none;
		display: inline-block;
	}
	.nav-a{
		font-size: 16px;
		font-weight: 300;
		padding-left: 10px;
		padding-right: 10px;
	}
	.top-upload-mat-btn-box{
		box-sizing: border-box;
		background-color: rgba(0, 0, 150, 150);
		border-radius: 50%;
	}
	.top-upload-mat-btn{
		color: #fff;
		padding: 10px;
		font-size: 14px;
	}
	.top-upload-mat-btn:hover{
		color: #fff;
	}
}