*{
	margin: 0;
}
html body{
	font-family: 'Open Sans', 'Roboto', sans-serif;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
	color: #000;
    background:#fafafa;
    font-size: 18px;
    line-height: 20px;
}
input,select,textarea,button{
	outline: none;
}
img{
	border:0;
}
a{
	color: #000;
}
a:hover{
	text-decoration: none;
	outline: none;
	color: #000;
}
/** Style component*/
.background-color-fafafa{
	background-color: #fafafa
}
.background-color-fff{
	background-color: #fff;
}
.text-center{
	text-align: center !important;
}
.text-2-thin{
	font-weight: 300;
}
.text-thin{
	font-weight: 400;
}
.text-xs{
	font-size: 70%;
}
.active-link{
	font-weight: 800;
	color: #000;
}
.active-link:hover{
	color: #777;
}
.bottom-shadow{
	box-shadow: 0 2px 2px -2px rgba(0,0,0,.19);
}
.box-bottom-border{
	border-bottom: 1px solid rgba(0,0,0,.19); 
}
.unread-notification{
	background-color: #f5f5f5;
}
.cus-alert{
	height: 30px;
	background: #32CD32;
	color: #fff;
	padding: 5px;
	border-radius: 0;
	width: 75%;
	margin-top: 10px;
}
/**Switch*/
.switch{
	position: relative;
	display: inline-block;
	width: 60px;
	height: 26px;
}
.switch-checkbox{display: none;}
.slider{
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .-4s;
}
.slider:before{
	position: absolute;
	content: "";
	height: 20px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: #fff;
	-webkit-transition: .4s;
	transition: .4s;
}
input:checked + .slider{
	background-color: #98c007;
}
input:focus + .slider{
	box-shadow:  0 0 1px #98c007;
}
input:checked + .slider:before{
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}
.slider.round{
	border-radius: 34px;
}
.slider.round:before{
	border-radius: 50%;
}
/**switch */

.header{
	background: #000000;
	min-height: 60px;
	box-shadow: 0 2px 2px -2px rgba(0,0,0,.16);
	color: #fff;
}
.fixed-header{
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	height: 70px;
	z-index: 999;
}
.logo{
	margin-top: 10px;
}

/**Index page */



/** Complete reg */



/**Feed Page*/
.top-menu{
	margin: 20px 0 0 0;
}
.top-upload-btn{
	margin-right: 5px;
	background-color: #fff;
	color: rgba(100,100,250,200);
	border:1px solid rgba(0,0,250,250);
	border-radius: 5px;
}
.top-upload-btn:focus{
	margin-right: 5px;
	background-color: #fff;
	color: rgba(100,100,250,200);
	border:1px solid rgba(0,0,250,250);
	border-radius: 5px;
	outline: none;
}

.hide-search{
	display: none;
}
.note-icon:hover{
	color: inherit;
}
.search-icon, .note-icon, .avatar{
	font-weight: 300;
	padding: 5px;
	cursor: pointer;
	color: #fff;
}
.serach-a{
	color: #fff;
}
.search-icon a i:hover{
	color: #fff;
}
.top-search-input-group{
	transition-timing-function: ease-in-out;
	transition-duration: 2s;
	background: #404448;
	border-radius: 4px;
	padding: 7px;
	margin-right: 10px;
}

.top-search-input-text{
	width: 60%;
	color: #fff;
	background: inherit;
	border: 0;
	padding: 5px;
	font-size: 14px;
	font-weight: 300;
}

.avatar-image-icon{
	width: 32px;
	height: 32px;
}

.avatar-image{
	display: inline-block;
	vertical-align: middle;
	border:1px solid #fff;
	border-radius: 100%;
}
.note-badge{
	position: relative;
	top: -5px;
	left: -5px;
	background-color: #ff0000;
}
.note-dropdown{
	max-height: 250px;
	margin-left: -145px !important;
	overflow-x: hidden;
	overflow-y: auto;
}
#note-dropdown::-webkit-scrollbar{
	width: 7px;
}
#note-dropdown::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
#note-dropdown::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.note-preview{
	width: 310px;
	border-bottom: 1px solid rgba(0,0,0,.15);
}
.note-link{
	padding: 15px 5px 15px 15px !important;
	white-space: normal !important;
}
.note-header{
	margin: 2px;
	padding-left: 10px;
	padding-right: 10px; 
}
.note-head-seperator{
	margin-bottom: 0 !important;
}
.note-list-head{
	cursor: default;
}
.note-text-p{
	padding-left:50px !important;
	padding-bottom: 5px;
	margin-bottom: 0!important;
}
.dropdown-ul{
	position: absolute;
	margin-top: 15px;
	left: -100px;
	box-shadow: 0 1px 4px rgba(0,0,0,.30);
    border: 1px solid rgba(0,0,0,.09);
}
.dropdown-a{
	padding: 10px;
	font-size: 16px;
	font-weight: 300;
}

.dropdown-ul:after {
    content: ' ';
    height: 14px;
    width: 14px;
    position: absolute;
 	top: -15px;
 	left: 73%;
 	background:#fff;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid transparent;
	transform: rotate(45deg) translate(6px,6px);
    box-shadow: -1px -1px 1px -1px rgba(0,0,0,.44);
}
.dropdown-menu{
	cursor: default;
}
.hor-line{
	margin-top: 4px;
	margin-bottom: 10px;
}
.fix-top-nav{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 9999;
}
.nav-a{
	color: #fff;
}
.nav-a:hover{
	color: inherit;
}
.nav-bar-icon{
	margin: -10px 0 -2px 0; 
}
.bars-icon{
	font-size: 25px;
	cursor: pointer;
	margin-right: 15px;
}
.feed-container{
	margin-top: 20px;
}
.your-course-list-hr{
	margin-top: 10px ;
}
.feedCourse-list-box{
	background: #fff;
	padding: 10px;
	color: #555;
	box-shadow: 0 1px 4px rgba(0,0,0,.04);
}
.feedCourse-list-header{
	width: 100%;
}
.feedCourse-list-header p{
	padding: 5px;
	font-size: 15px;
	font-weight: 300;
	text-align: center;
}
.feedCourse-list-wrapper ul{
	padding: 0;
	margin-left: 15px;
}
.feedCourse-list-wrapper ul li{
	list-style: none;
	display: inline-block;
	font-size: 13px;
	font-weight: 300;
	border: 1px solid #555;
	border-radius: 2px;
	padding: 5px;
	margin: 5px 0;
}
.feedCourse-list-wrapper ul li a:hover{
	color: #000;
}
.mostDownloaded-box{
	margin-top: 30px;
	box-shadow: 0 1px 4px rgba(0,0,0,.04);
}
.most-dwn-material-title{
	padding-left: 10px;
	color: rgba(0,0,0,.8);
}
.most-dwn-material-title:hover,.author-name:hover{
	color: #000;
}
.text-course-code{
	font-size: 13px;
    background: #f3f3f3;
    color: #333;
    padding: 4px 8px;
    margin-top: 15px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.text-course-code:hover{
	color: inherit;
}
.date-box{
	display: flex;
	margin: 2px 35px;
}
.date-box p{
	font-size: 14px;
	font-weight: 300;
	color: #b2b2b2;
	margin-bottom: 0; 
}
.nums-dwn p{
	margin-bottom: 0;
}
.feed-hor-line{
	margin: 10px 0;
}
.most-dwn-box{
	margin-top: 10px;
}
/**Upload modal*/
.upload-container{
	margin-top: 30px;
}
.dropdown-ul{
	position: absolute;
	margin-top: 15px;
	left: -100px;
	box-shadow: 0 1px 4px rgba(0,0,0,.04);
    border: 1px solid rgba(0,0,0,.09);
}
.file-upload-box{
	box-sizing: border-box;
	border: 0;
	border-top: 1px solid rgba(0,0,0,.15);
	background-color: #fafafa;
	max-height: 250px;
}
.upload-instruction{
	padding: 5px;
	line-height: -0.9;
}
.upload-special-note{
	margin-top: -20px;
}
.upload-input-lg{
	width: 90%;
}
.upload-select-type{
	margin-left: 25%;
}
.upload-description-textarea{
	resize: none;
}
.upload-progress-box{
	background-color: #fff;
	margin-left:10px;
	margin-right:10px; 
}
.modal-upload-btn{
	margin-top: 5px;
	margin-bottom: 10px;
	color: #fff;
	background-color: rgba(100,100,250,200);
}
.text-danger{
	color: #FF0000;
}
/**search page**/
.search-input-box{
	margin-top: 20px;
}
.search-input{
	width: 100%;
	border: 0;
	border-radius: 0;
	border-bottom: 1px solid rgba(0,0,0,.15);
	font-weight: 300;
}
.search-types-box{
	margin:20px 10px 20px 0;
}
.search-type{
	padding: 10px 10px 10px 0;
}
.search-type button{
	outline: none;
	border: 0;
	background: inherit;
}
/**Notification page **/
.full-notification{
	margin: 0;
	padding-left: 0;
}
.note-list-head{
	list-style: none;
}
.notification-divider{
	margin-right: 20px;
}
.notification{
	list-style: none;
	box-sizing: border-box;
}
.notification:hover{
	background-color: #f5f5f5;
}
.notification-padding-left{
	padding-left: 10px;
}
/** Profile page */
.avatar-image-size{
	width: 200px;
	height: 200px;
}
.avatar-image-profile-page{	
	border-radius: 100%;
	border:1px solid #000;
	vertical-align: middle;
}
.avatar-box{
	margin-top: 30px;
	margin-bottom: 10px;
}
.username{
	font-size: 32px;
	font-weight: 700;
	margin-top: -2px;
}
.profile-info-para{
	margin-top: -5px;	
}
.marginx60px{
	margin-top: 60px;
}
.types-box{
	text-align: center;
	padding-bottom: 10px;
}
.profile-post-card:first-child{
	margin-top: 20px;
}

/**settings page */
.primary-button{
	outline: none;
	border: 0;
	padding: 8px;
	color: #fff;
	background: #31c85e;
	border-radius: 3px;
}
.settings-box{
	margin-top: 40px;
}
.setting-head{
	margin-bottom: 30px;
	font-weight: 600;
	font-size: 24px;
}
.input-password-change{
	width: 80%;	
}
.input-password-change-box{
	margin-top:20px;
	margin-bottom: 5px;
	padding: 5px;
	border-bottom: 1px solid #94949a;

}
.input-password-change-box input{
	border: 0;
	padding: 4px;
}

.change-password-btn{
	margin-top: 20px;
	margin-bottom: 20px;
}
/**Request Page */
.request-box{
	margin-top: 60px;
	height: 350px;
}
.request-box p{
	font-size: 14px;
	font-weight: 300;
	margin-left: 20px;
}
.request-box h4{
	padding: 10px;
}
.request-input-group{
	padding: 0;
	margin-left: 10px;
}
.request-input-group input{
	border: 0;
	padding: 5px;
	border-bottom: 1px solid #94949a;
	font-size: 14px;
	font-weight: 300;
}
.request-input-group textarea{
	margin-left: 10px;
	margin-top: 10px;
	resize: none;
	width: 80%;
	height: 70px;
	border: 0;
	border-bottom: 1px solid #94949a;
	font-size: 14px;
	font-weight: 300;
}
.input-group{
	margin: 10px;
}
.request-input{
	margin: 10px;
}
.request-input-lg{
	width: 80%;
}
.request-input-sm{
	width: 30%;
}
.select-type{
	margin-left: 70px;
}
.request-btn{
	margin-top: 30px;
	margin-bottom: 20px;
}
/**Course mate page*/
.user-box{
	margin-top: 40px;
}
.user-info-box{
	margin-top:20px;
	margin-bottom: 20px;
}
.avatar-image-size-50x50{
	width: 50px;
	height: 50px;
}
.user-name{
	position: relative;
	top: -15px;
	padding: 5px;
}
.user-name a{
	font-size: 16px;
}
.user-name a:hover{
	color: #000;
}
.user-details{
	position: relative;
	top: -30px;
	margin-left: 70px;
	margin-bottom: -20px;
}
.user-details div a:hover{
	color: #000;
}
/**Note page */
.note-box{
	margin-top: 100px;
	background: #fff;
	box-shadow: 0 1px 4px rgba(0,0,0,.04);
}
.full-note-header {
	padding-top: 15px;
}
.date-note{
	margin-left: 18px;
	position: relative;
	top: -20px;
	left: 8px;
}
.note-text-box{
	margin-top: -15px;
}
.note-topic{
	font-size: 32px;
	font-weight: 600;
	text-align: center;
}
.note-para{
	color: #000;
}
/** Write Note Page */
.write-note-box{
	background-color: #fff;
	margin: 20px 5px 10px 5px;
	
}
.dropdown-ul:after {
    content: ' ';
    height: 14px;
    width: 14px;
    position: absolute;
 	top: -15px;
 	left: 73%;
 	background:#fff;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid transparent;
	transform: rotate(45deg) translate(6px,6px);
    box-shadow: -1px -1px 1px -1px rgba(0,0,0,.44);
}

@media only screen and (max-width: 768px){
	#pc{
		display: none;
	}
	.smallScreen-signupTop-button{
		margin:-75px -50% 0 0;
	}
	.site-desc{
		margin:-5px 0 0 0; 
	}
	.site-desc-title{
		font-size: 20px;
		font-weight: 500;
		margin-bottom: 5px;
	}
	.site-desc-subtitle{
		font-size: 14px;
	}
	.form-container{
		max-width: 95%;
		margin:15px 0 25px 10px;
	}
	.input-text{
		margin-right: -20px;
	}
	.smallScreen-login-button, .smallScreen-signupBottom-button{
		margin-left: 40%;
	}
	/**complete reg*/
	.form-title{
		font-weight: 400;
		font-size:22px;
	}
	.note-dropdown{
		margin-left: -120px !important;
	}
	.nav{
		display: none;
		box-sizing: border-box;
		margin-top: 10px;
		margin-left: 1px;
		margin-bottom: 30px;
		position: relative;
		background-color: #000;
		top: 20px;
		box-shadow: 0 1px 4px rgba(0,0,0,.04);
    	border: 1px solid rgba(0,0,0,.09);
	}
	.nav-ul{
		margin-left: -35px;
	}
	.nav-li{
		list-style: none;
		display: block;
		color: #fff;
	}
	.nav-li:hover, .nav-a:hover{
		background-color: #fafafa;
		color: #000;
	}
	.nav-a{
		display: block;
		font-size: 16px;
		color: #fff;
		font-weight: 300;
		padding: 5px;
	}
	.nav-bar-icon{
		margin-bottom: 5px;
	}
	.small-search-input{
		height: 50px;
		font-size: 26px;
	}
	/** Profile page */
	.avatar-image-size{
		width: 170px;
		height: 170px;
	}
	/**Note page*/
	.note-para{
		font-size: 15px;
	}
}



@media only screen and (min-width: 769px){
	.login-links-forget-psw{
		margin-right: 59%;
	}
	.signup-form{
		margin-top: 12px;
	}
	#mobile{
		display: none;
	}
	.most-dwn-avatar-image{
		width: 20px;
		height: 20px;
	}
	.nav{
		margin-left: -40px;
	}
	.nav-li{
		list-style: none;
		display: inline-block;
	}
	.nav-a{
		font-size: 16px;
		font-weight: 300;
		padding-left: 10px;
		padding-right: 10px;
	}
	.top-upload-mat-btn-box{
		box-sizing: border-box;
		background-color: rgba(0, 0, 150, 150);
		border-radius: 50%;
	}
	.top-upload-mat-btn{
		color: #fff;
		padding: 10px;
		font-size: 14px;
	}
	.top-upload-mat-btn:hover{
		color: #fff;
	}
	/**search page **/
	.search-input-box{
		margin-top: 30px;
	}
	.large-search-input{
		height: 70px;
		font-size: 45px;
	}
	/**Note page*/
	.note-para{
		font-size: 16px;
	}
}

